.slider{
    height: calc(100vh - 100px);
    width: 100vw;
    overflow: hidden;
    position: relative;
    
  
    .container{
        width: 300vw;
        height: 100%;
        transition: all 1s ease;
       
        img{
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }
    .icons{
        position: absolute;
        left: 50%;
        bottom: 60px;
        display: flex;
        gap: 10px;
        transform: translateX(-50%);
        .icon{
            border: 1px solid #fff;
            padding: 6px 12px;
            // background-color: #000;
            color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }        
    }
}
